$blue: #4b9ec1;
$dark_green: #466365;
$light_green: #acfcd9;
$purple: #b084cc;
$pink: #eb4886;
$mint_green: #AEF78E;

$error: #ee5d48;
$accept: rgb(74, 213, 136);

$dark: #343434;

$space_cadet: #201E50;
$cadet: #586F7C;

$cultured: #EFF1F3;

$subtle_white: #FAFFFD;
$ivory: #F6F7EB;

$elegant_black: #2E2E2E;
$elegant_black_darker: #212121;

$stylish_dark: #4B515D;
$stylish_dark_darker: #3E4551;
$xiketic: #121420;
// TODO make an group input in login